
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 

 }

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	h1{
		font-size: 2em !important;
		margin-top: 10% !important;
	}
	h3{
		font-size: 1.5em !important;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (mix-width: 768px) { 
.col-lg-offsetder-1{
    margin-right: 8.333333333333332%;
  }

}


.navbar-toggle{
	margin-right:0px !important;
}
span.icon-bar{
	color: white !important;
}


.navbar{
	background-color: #394;
	border-radius: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

.text-white{
	color: white;
}
.no-pd{
	padding-left: 0px;
	padding-right: 0px;
}
.no-margin{
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

.mb-5{
	margin-bottom: 5%;
}
.pb-1{
	padding-bottom: 1%;
}
.pt-5{
	padding-top: 5%;
}

.fit{
	width: 100%;
}
h1{
	font-size: 3.5em;
	font-weight: 400;
	margin-top: 5%;
}
h3{
	font-size: 2em;
	font-weight: 400;
}
hr{
	width: 20%;
	margin-bottom: 5%;

}


.fondo1{
	background-image: url(../img/carousel-bg.jpg);
	background-size: cover;
	min-height: 35em;
}

.fondo2{
	background-color: #334;
}
.fondo3{
	background-color: #394;
}

.fondo1>h1{
	margin-top: 5%;
}

.fondoicon{
	background-image: url(../img/icon-bg.png);
	background-size: cover;
	height: 4em;
	width: 100%;
}
.rowcolor{
	margin-bottom: 2em;
	width: 100%;
	padding: 0px;
	margin:0px;
}
.color-block{
	height: 9em;	
	text-align: center;
	width: 20%;
	float: left;
	padding: 0px;
	margin:0px;

}
.color1{
	background-color: #69D2E7;
}
.color2{
	background-color: #A7DBDB;
}
.color3{
	background-color: #E0E4CC;
}
.color4{
	background-color: #F38639;
}
.color5{
	background-color: #FA6900;
}
.color6{
	background-color: #E94C6F;
}
.color7{
	background-color: #542733;
}
.color8{
	background-color: #5A6462;
}
.color9{
	background-color: #C6D5CD;
}
.color10{
	background-color: #FDF200;
}
.color11{
	background-color: #69D2E7;
}
.color12{
	background-color: #A7DBDB;
}
.color13{
	background-color: #E0E4CC;
}
.color14{
	background-color: #F38639;
}
.color15{
	background-color: #FA6900;
}
.color16{
	background-color: #E94C6F;
}
.color17{
	background-color: #542733;
}
.color18{
	background-color: #5A6462;
}
.color19{
	background-color: #C6D5CD;
}
.color20{
	background-color: #69D2E7;
}
.color21{
	background-color: #69D2E7;
}
.color22{
	background-color: #A7DBDB;
}
.color23{
	background-color: #E0E4CC;
}
.color24{
	background-color: #F38639;
}
.color25{
	background-color: #FA6900;
}