

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	h1{
		font-size: 2em !important;
		margin-top: 10% !important;
	}
	h3{
		font-size: 1.5em !important;
	}
	
	.color-block{
	height: 5em !important;
	}
	.rowcolor{
	margin-bottom: 3em !important;
     }
}

@media (max-width: 768px) { 
	.color-block{
	height: 3em !important;
	}
	.rowcolor{
	margin-bottom: 4em !important;
     }
  }

}

.navbar-toggle{
	margin-right:0px !important;
}
span.icon-bar{
	color: white !important;
}


.navbar{
	background-color: #394;
	border-radius: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

.text-white{
	color: white;
}
.no-pd{
	padding-left: 0px;
	padding-right: 0px;
}
.no-margin{
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

.mb-5{
	margin-bottom: 5%;
}
.pb-10{
	padding-bottom: 10%;
}
.pb-1{
	padding-bottom: 1%;
}
.pt-5{
	padding-top: 5%;
}

.fit{
	width: 100%;
}
h1{
	font-size: 3.5em;
	font-weight: 400;
	margin-top: 5%;
}
h3{
	font-size: 2em;
	font-weight: 400;
}
hr{
	width: 20%;
}


.fondo1{
	background-image: url(../img/carousel-bg.jpg);
	background-size: cover;
	min-height: 35em;
}

.fondo2{
	background-color: #334;
}
.fondo3{
	background-color: #394;
}

.fondo1>h1{
	margin-top: 5%;
}

.fondoicon{
	padding: 5%;
	background-color: #334;	
	background-image: url(../img/icon-bg.png);
	background-size: cover;
	height: 10em;
	width: 10em;
	position: relative;
	margin:auto;
}
.rowcolor{
	margin-bottom: 2em;
	width: 100%;
	padding: 0px;
	margin:0px;
}
.color-block{
	height: 9em;
	text-align: center;
	width: 20%;
	float: left;
	padding: 0px;
	margin:0px;

}
.color1{
	background-color: #69D2E7;
}
.color2{
	background-color: #A7DBDB;
}
.color3{
	background-color: #E0E4CC;
}
.color4{
	background-color: #F38639;
}
.color5{
	background-color: #FA6900;
}
.color6{
	background-color: #E94C6F;
}
.color7{
	background-color: #542733;
}
.color8{
	background-color: #5A6462;
}
.color9{
	background-color: #C6D5CD;
}
.color10{
	background-color: #FDF200;
}
.color11{
	background-color: #DB3340;
}
.color12{
	background-color: #E8B71A;
}
.color13{
	background-color: #F7EAC8;
}
.color14{
	background-color: #1FDA9A;
}
.color15{
	background-color: #28ABE3;
}
.color16{
	background-color: #588C73;
}
.color17{
	background-color: #F2E394;
}
.color18{
	background-color: #F2AE72;
}
.color19{
	background-color: #D96459;
}
.color20{
	background-color: #8C4646;
}
.color21{
	background-color: #D0C91F;
}
.color22{
	background-color: #85C4B9;
}
.color23{
	background-color: #008BBA;
}
.color24{
	background-color: #DF514C;
}
.color25{
	background-color: #DC403B;
}
.hirebutton{
	background-color: #222;
	border-style: none;
	padding: 1%;
	color: white;
	margin-top: 3%;
}
.team{
	padding-left: 7%;
	padding-right: 7%;
}

.social-networks{
	text-align: center;
	color: lightgrey;
	padding-left: 0px;
	padding-bottom: 10%;
}
.social-networks>li{
	display: inline-block;
	padding-left: 5%;
}
li>span{
	font-size: 1.5em;
}
.price{
	font-size: 5em;
	background-color: #394;
}
sub{
	vertical-align: baseline !important;
	bottom: 0 !important;
	font-size: 40%;
	font-weight: lighter;
}
.pricing{
	border:1px solid #394;
}






